{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Electrical Engineer with 2+ year of experience working with a company in the consumer electronics industry, primarily focusing on implementing and debugging electromagnetic systems.</p>
        <p>Possess excellent interpersonal abilities and wide range of technical skills. Enjoy being part of a team, as well as managing, motivating, and training a productive team, and thrive in high-pressure and challenging working environments.</p>
        <p>Also energetic, dependable, and innovative hardware developer with a proven record in evaluating and applying knowledge of electronics & electromagnetism.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}